/* Grid layout */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-areas:
        "header header header"
        "...... flashes  ....."
        "....... main  ......"
        "footer footer footer";
}

header {
    grid-area: header;
}

.flashes {
    grid-area: flashes;
    margin-top: 60px;
}

.main_content_section {
    grid-area: main;
}

footer {
    margin-top: auto;
    grid-area: footer;
}

/* Nav Bar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 60px;
    justify-content:space-around;
    align-items: center;
    color: #fff;
    z-index: 100;
}

nav .logo {
    font-size: 2rem;
}

.nav-links {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content:space-around;
    width: 50%;
    z-index: 100;
}

.nav-links a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-bottom:2px solid transparent;
    transition:0.5s ease;
    transform: translateX(0%);
}

.nav-links a:hover {
    font-weight: bold;
    background: rgba(51, 51, 51, 0.5);
}

.burger {
    display: none;
}
  
.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition:all 0.5s ease;
    z-index: 100;
}

@media only screen and (max-width: 760px){
    nav{
     justify-content: space-between;
     padding: 0 5vw;
   }

   .nav-links{
     position: absolute;
     right: 0;
     top: 64px;
     min-height:92vh;
     background: rgba(51, 51, 51, 0.8);
     display: flex;
     flex-direction: column;
     align-items: center;   
     width: 50%;
     margin: 0;
     padding: 0;
     transform: translateX(100%);
     transition:All 0.5s ease-in;
   }

   .nav-links a{
     opacity: 0;
     height: 50px;
     line-height: 50px;
     vertical-align: middle;
     padding: auto;
   }

   .burger{
     display: block;
   }
  
 }

 @media only screen and (max-width: 640px){
   nav{
     justify-content: space-between;
     padding: 0 5vw;
   }
 }

 .nav-active{
   transform: translateX(0);
 }

 @media only screen and (max-width: 460px){
   .nav-links{
     width: 100%;
     transition:All 0.5s ease;
   }
 }

 .nav-active{
   transform: translateX(0);
 }
 
 @keyframes navLinkFade{
   from{
     opacity: 0;
     transform: translateX(50px);
   }
   to{
     opacity: 1;
     transform: translateX(0);
   }
 }

 .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px );
 }

 .toggle .line2{
    opacity: 0;
 }

 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px );
 }
 
@media (max-width: 400px) {
   .navbar-brand {
       font-size:25px;
   }
}

/* Footer*/

footer {
    color: #333;
    padding: 10px;
    border-top:#333 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#footer_social ul {
    margin: auto;
    list-style-type: none;
}

#footer_social li {
    text-align: center;
    padding: 10px;
    display: inline-block;
    border-color: #fff;
}

#footer_social i {
    color: #212529;
}

#footer_social i:hover {
    transform: scale(1.5);
}

/* Text Modifications */

/* Flashed Messages Background */

.error {
    background-color: #f44336;
}

.success {
    background-color: #4caf50;
}