{% extends "base.html" %}
{% block title %}Your Archive{% endblock %}
{% block content %}
    <h3 class="center-align">Your RefArchive</h3>

    <table class="striped grey darken-2">
        <thead>
        <tr>
            <th>Title</th>
            <th>Source</th>
            <th>Importance</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
    {% if archive|length > 0 %}
        {% for item in archive %}
            <tr>
                <td><strong>{{ item.ref_title }}</strong></td>
                <td>{{ item.ref_source }}</td>
                <td>{{ item.ref_importance }}</td>
                <td><a href="{{ url_for('detailed_view', item_id=item._id) }}" class="grey darken-3 btn">View</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>You currently have nothing saved on your RefArchive</td>
        </tr>
    {% endif %}
        </tbody>
    </table>
{% endblock %}